[submodule "JPET-Data"]
	path = JPET-Data
	url = https://github.com/alexkernphysiker/JPET-Data.git
[submodule "j-pet-framework"]
	path = j-pet-framework
	url = https://github.com/JPETTomography/j-pet-framework.git
